*{
    margin: 0;
    padding: 0;
}

.loginScreen{
    position : relative;
    height: 90vh;
    background: url(../image/netflixCover.jpg) center no-repeat;
    background-size: cover;
}
.loginScreen_logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 10px;
}
.loginScreen_body > h4 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.loginScreen_body > h5 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.loginScreen_body > h1 {
    font-size: 3.125rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.loginScreen_body{
    position: absolute;
    width: 90%;
    top: 35%;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}
.loginScreen_button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.loginScreen_gradient{
    width: 100%;
    z-index: 1;
    height: 90vh;
    background: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
        to top, 
      rgba(0, 0, 0, 0.7)0%,
      rgba(0,0,0,0)60%,
      rgba(0, 0, 0, 0.7)100%);
}
.loginScreen_input{
    width: 100%;
}
.loginScreen_input > form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.loginScreen_input > form > input{
    padding: 25px;
    height: 40px;
    width: 100%;
    border: 0.5px solid rgb(101, 98, 98);
    border-radius: 3px;
    background-color: rgb(10 9 9 / 50%);
    color: white;
    min-width: 300px;
    max-width: 350px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 200;
    margin-right: 8px;
}
.loginScreen_input > form > input::placeholder{
    color: rgb(201, 191, 191);
}
.login_getstarted{
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}




/* footer part */
.hr{
    height: 7px;
    background-color: rgb(50, 49, 49);
}
.containers{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
}
.login_footer{
    z-index: 0;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    margin-left: 10vw;
    margin-right: 10vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* gap: 1.5rem; */
}
.tv1{
    z-index: 1;
}
.img{
    /* background-color: black; */
}
.text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
}
.text > h2
{
    font-size: 2.8rem;
    font-weight: 800;
}
.text > span{
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.extraIMG >img {
    position: relative;
    /* top: 80px; */
    height: 300px;
    width: 500px;
    right: 100px;
}

/* footer */
.footer{ 
    padding-top: 10px;
    padding-bottom: 70px;
    background-color: #000000;
    color: rgb(179, 179, 179);
 }
 .foot-panel1{
     margin-top: 50px;
     height: 50px;
     font-size: 1.1rem;
     margin-left: 14vw;
 }
 .foot-panel1 > span{
    text-decoration: underline;
 }

 .foot-panel2{
     height: 300px;
     display: flex;
 }
 .foot-panel2 ul{
     margin-top: 20px;
     margin-left: 14vw;
 }
 .foot-panel2 a{
     text-decoration: underline;
     color: rgb(201, 200, 200);
     display: block;
     font-size: 1rem;
     margin-top: 10px;
 }
.foot-panel3{
    /* height: 70px; */
    font-size: 1.2rem;
    margin-left: 14vw;
    margin-top: -50px;
}
 

@media (max-width:900px){
     .login_footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .img > img{
        max-width: 750px;
        max-height: 380px;
    }
    .rev{
         flex-direction: column-reverse;
     }
}
@media (max-width:800px){
    .loginScreen_gradient{
        height: 70vh;
    }
    .loginScreen{
        height: 70vh;
    }
    .loginScreen_body{
        top: 25%;
    }
    .login_getstarted{
        margin-top: 5px;
    }
     .login_footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .img > img{
        max-width: 500px;
        max-height: 300px;
    }
    .rev{
         flex-direction: column-reverse;
     }
}
@media (max-width:500px){
.loginScreen_gradient{
    height: 70vh;
}
    .loginScreen{
        height: 70vh;
    }
    .loginScreen_body{
        top: 20%;
    }
    .login_getstarted{
        margin-top: 10px;
    }
    .login_footer{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .img > img{
        max-width: 500px;
        max-height: 220px;
    }
    .rev{
         flex-direction: column-reverse;
     }
}
